{% extends "pages/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-md-5">
	<div class="row">
			<div class="col-md-6 col-lg-4 d-flex">
    			<div class="book-wrap d-lg-flex">
    				<div class="img d-flex justify-content-end" style="background-image: url(images/book-2.jpg);">
    					<div class="in-text">
    						<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to cart">
    							<span class="flaticon-shopping-cart"></span>
    						</a>
    						<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
    							<span class="flaticon-heart-1"></span>
    						</a>
    						<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Quick View">
    							<span class="flaticon-search"></span>
    						</a>
    						<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Compare">
    							<span class="flaticon-visibility"></span>
    						</a>
    					</div>
    				</div>
    				<div class="text p-4">
    					<p class="mb-2"><span class="price">{{i}}</span></p>
    					<h2><a href="#">{{i}}</a></h2>
    					<span class="position">{{i}}</span>
    				</div>
    			</div>
    		</div>
	</div>
</div>
{% endblock body %}