{% extends "pages/base.html" %}
{% block title %}Books{% endblock title %}
{% block body %}
{% load static %}
<script>
	function get_cb_recs(id_tiki) {

		url = 'rec_content/?id_tiki=' + id_tiki

		$.getJSON(url,
			function (result) {
				var books = result.rs;
				for (var book in books) {
					console.log(book.name);
					document.getElementById('aaron-family').innerHTML += '<li>' + book.name + '</li>';
				}
				// console.log(list_book);
				// list_book.forEach(book => {
				// 	var el_down = document.getElementById("GFG_DOWN"); 
				// 	el_down.innerHTML = book.name; 
				// 	console.log(book.name);
				// })
				// return list_book
			}
		)

		// 		result.data.forEach(function (element, index, array) {

		// 			$.getJSON(get_url(element.target), function (result) {
		// 				image_url = 'http://image.tmdb.org/t/p/w500/'
		// 					+ result.movie_results[0].poster_path

		// 				rec_div = document.createElement('div')
		// 				rec_div.setAttribute('class', "col-sm-2 img-responsive")

		// 				a = document.createElement('a')
		// 				a.setAttribute('href', '/movies/movie/' + element.target)

		// 				img = document.createElement('img')
		// 				img.setAttribute('src', image_url)
		// 				img.setAttribute('class', "img-responsive")
		// 				a.appendChild(img)

		// 				rec_div.appendChild(a)

		// 				recs = document.getElementById('content_based_recs')
		// 				recs.appendChild(rec_div)
		// 				recs.style.visibility = 'visible'
		// 			})

		// 		})
		// 	});

	}

</script>
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static '/images/bg_5.jpg'%});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate mb-0 text-center">
				<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/home">Home <i
								class="fa fa-chevron-right"></i></a></span> <span>{{book.category}} <i
							class="fa fa-chevron-right"></i></span></p>

				<div class="30">
					<h1 class="mb-0 bread">Book Detail</h1>
				</div>
			</div>
		</div>
</section>

<br>
<br>
<br>
{% load humanize %}
<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
				style="background-image: url({{book.thumnail}});">
			</div>
			<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
				<div class="heading-section">
					<span class="subheading">{{book.category}}</span>
					<h2 class="mb-4">{{book.name}}</h2>
					<span class="position">Tác giả: {{book.author}}</span>
					<p class="mb-2"><span class="price" style="color:Red;">{{book.price|intcomma}} <ins>đ</ins></span>
					</p>
					<p>{{book.short_description}}</p>


					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>

			</div>
		</div>
	</div>
	<ul id="aaron-family">
	</ul>
</section>
<script>
	get_cb_recs('{{ book.id_tiki }}')

</script>
{% endblock body %}
</section>